.container {
   //  border: 2px solid red;
   width: 100vw;
   height: 100vh;
   padding-top: 10px;
   // padding-left: 10px;
   display: flex;
}
.outer {
   border: 2px solid black;
   border-radius: 4px;
   width: 250px;
   height: 150px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 10px;
}
.titleInput {
   width: 200px;
   height: 30px;
   border-radius: 4px;
   margin-bottom: 10px;
}
.titleDiv {
   width: 200px;
   height: 30px;
   border-radius: 4px;
   margin-bottom: 10px;
   display: none;
}
.ul {
   list-style: none;
   border: 1px solid red;
   padding: 0;
}
.li {
   margin-bottom: 10px;
}

.btn {
   width: 200px;
   display: flex;
   justify-content: space-around;
   //  margin-bottom: 20px;
}
.addListBtn {
   width: 80px;
   height: 30px;
   background-color: transparent;
   border-radius: 8px;
   padding: 3px 8px;
   cursor: pointer;
}
.cancelBtn {
   width: 80px;
   height: 30px;
   background-color: red;
   color: #fff;
   border-radius: 8px;
   padding: 3px 8px;
   cursor: pointer;
}
.productList {
   // border: 2px solid red;
   display: flex;
   flex-direction: column;
   text-align: center;
   margin-top: 10px;
   margin-bottom: 10px;
}
.product {
   margin-bottom: 5px;
}
